modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node index.js"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 80

[userenv]

[userenv.shared]
CLOUDINARY_CLOUD_NAME = "mj0osj22"
FIREBASE_PROJECT_ID = "whatsapp-clone-976d4"
NODE_ENV = "production"
CLOUDINARY_API_KEY = "623979499319743"
CLOUDINARY_API_SECRET = "w0bYB6TUsvhfQ_38XoID9BbNyN8"

[deployment]
deploymentTarget = "vm"
run = ["node", "server/index.js"]
